div.presentation {
  background-image: url(newyork.jpg);
  background-repeat: no-repeat;
  width: 1353px;
  height: 400px;
  opacity: 0.9;
}

h1.presentation{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  line-height: 57px;
  font-weight: 700px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 130px;
}

p.presentation {
  color: #fff;
  font-size: 18px;
  padding-bottom: 42px;
  font-family: 'Open Sans', sans-serif;
  line-height: 27px;
  font-weight: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

a.presentation2 {
  justify-content: center;
  align-items: center;
  display: inline-block;
  flex-direction: row;
 font-size: 14px;
  background-color: #EF7674;
 color: #fff;
 text-transform: uppercase;
 text-decoration: none;
 padding: 0 29px;
 line-height: 52px;
 margin-left: 44%;

}

.menu {
  display: inline-block;
  line-height: 140px;
  font-size: 18px;
 text-align: center;
 font-weight: 800px;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 0px 15px 0px 15px;
margin-bottom: 5px;
font-family: 'Open Sans', sans-serif;
}

a.menu {
  display: inline-block;
  line-height: 140px;
 font-size: 18px;
 text-align: center;
 font-weight: 800px;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
 display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 15px;
margin-bottom: 30px;
font-family: 'Open Sans', sans-serif;
}

.container {
background-color: #f4f7f4;
height:37em;
}

.container img {
  width: 600px;
  max-height: 650px
  margin:0;
  position:absolute;
 }

.about {
  width: 20%;
  margin-left:700px;
}

.about h2 {
color: #5b4c5c;
display: inline-block;
font-weight: 400px;
text-transform: uppercase;
margin: 0px;
border-bottom: #ef7674 6px solid;
padding-bottom: 9px;
font-family: 'Open Sans', sans-serif;
font-size: 36px;
line-height: 38px;
margin-top: 70px;
margin-right: 50px;
}

.about h3 {
color: #5b4c5c;
font-size: 18px;
font-weight: bold;
font-family: 'Open Sans', sans-serif;
line-height: 21px;
padding-bottom: 3px;
}

.about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  padding-bottom: 10px;
  margin: 0px;
  color: #897f8a;
}

.about a  {
  text-decoration: none;
  font-size: 15px;
font-family: 'Open Sans', sans-serif;
border: 1px solid #5b4c5c;;
padding: 10px 12px;
color: #5b4c5c;
font-weight: bold;
}

 h2 {
color: #5b4c5c;
text-transform: uppercase;
font-size: 36px;
line-height: 38px;
border-bottom: #ef7674 6px solid;
margin-bottom: 49px;
text-align: center;
margin-top: 100px;
display:inline-block;
flex-direction: row;
align-items: center;
justify-content: center;
margin-left: 40%;
margin-right: 40%;
font-family: 'Open Sans', sans-serif;
font-weight: normal;
}

.section p {
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400px;
  color: #897f8a;
  }

.competence div {
display: inline-block;;
justify-content: center;
align-items: center;
flex-direction: column;
width: 25%;
text-align: center;
margin-left: 70px;
margin-top: 30px;
}

.competence p {
  color: #897f8a;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.competence h4 {
  text-transform: uppercase;
}

.pourcentage {
  border: 2px solid  #ef7674;
  line-height: 20px;
  font-weight: bold;
  background-color: #f4f9f3;
}

.paragraphe {
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400px;
  color: #897f8a;
  margin-bottom: 60px;
  margin-top: 20px;
}

.experience {
  background-color: #f4f7f4;
}

.experience li {
  list-style-type: none;
  display: table;
}


.date1 {
font-size: 18px;
padding: 10px;
white-space: nowrap;
margin-bottom: 2px;
font-weight: bold;
background-color: #ef7674;
color: white;
margin-left: 190px;
width: 100px;
}

.date2 {
  white-space: nowrap;
  margin-bottom: 2px;
  margin-right: 28px;
  font-weight: bold;
  background-color: #483c49;
  color: white;
  font-size: 18px;
  margin-left: 170px;
  padding: 10px;
}

h4 {
color: #5b4c5c;
padding-bottom: 1px;
font-family: 'Open Sans', sans-serif;
font-size: 19px;
}

h5 {
color: #5b4c5c;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
margin-bottom: 5px;
font-weight: normal;
}

.texteexp p {
color: #897f8a;
line-height: 27px;
font-family: 'Open Sans', sans-serif;
font-size: 15px;

}

.information {
  width: 50px;
}

.texteexp  {
margin-left: 500px;
width: 200px;
}

.education {
  margin-left: 500px;
  width: 200px;
}

.date3 {
  margin-top: 30px;
  font-weight: bold;
  background-color: #ef7674;
  color: white;
  padding: 10px;
  width: 100px;
  margin: inherit;
  margin-top: 50px;
}

.portfolio {
  background-color:  #3b323c;
  margin-top: 50px;
}

.portfolio h2 {
color: white;
}

.portfolio p {
  text-align: center;
  color: white;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
}

.portfolio li {
  display: inline-block;
  line-height: 140px;
  font-size: 16px;
 text-align: center;
 font-weight: 800px;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 0px 15px 0px 15px;
margin-bottom: 5px;
font-family: 'Open Sans', sans-serif;
color: #908691;
}

.portfolio ul {
  margin-left: 300px;
}

.portfolio img {
  width: 24%;
}

.reference {
  background-color: #f4f7f4;
}
.reference p {
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: #897f8a;
margin-bottom: 100px;
}

.personne {
  display: inline-table;
  width: 25%;
margin-left: 150px;
background-color: white;
padding: 20px 10px;
margin-top: 20px;
margin-right: -127px;
}

.personne h4 {
  padding-left: 20px;
  margin-top: 100px;
}

.personne h5 {
  padding-left: 20px;
  margin-bottom: 15px;
}

.personne2 {
  display: inline-table;
  width: 25%;
  margin-left: 150px;
  background-color: white;
  padding: 20px 10px;
  margin-top: 20px;
  margin-right: -130px;
  margin-bottom: 100px;
}

.personne2 h4 {
padding-left: 20px;
}


.touch p {
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400px;
  color: #897f8a;
  margin-bottom: 100px;
}

.touch h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.contact {
  margin-left: 100px;
  width: 50%;
  color: #897f8a;
  font-size: 15px;
  float: left;
}

.contact li {
  padding-bottom: 10px;
  list-style-type: none;
}

.contact h4 {
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-weight: normal;;
}


.renseignement {
  background: #ffffff;
  color: #897f8a;
  padding: 15px 30px;
  border: none;
  margin-right: 3%;
  margin-bottom: 18px;
  outline: none;
  font-style: normal;
  border: #cdc9ce 1px solid;
  font-size: 15px;
}

.send {
  font-family: 'Open Sans', sans-serif;
color: #5b4c5c;
font-size: 18px;
font-weight: bold;
text-align: center;
float: right;
margin: 0px;
width: 135px;
height: 45px;
line-height: 40px;
padding: 0;
border: #5b4c5c 3px solid;
text-transform: uppercase;
}
